.carousel-item img {
  width: 100%;
  height: 25vw;
  object-fit: cover;
}

.carousel-item {
  border: 5px solid;
}

.podium-title {
  text-align: center;
}

.carousel {
  box-shadow: 5px 4px 5px -1px rgba(0, 0, 0, 0.3);
}
